body {
  background-color: rgb(12, 65, 83);
  font-family: "Playwrite NZ Basic";
  color: white;
  text-align: center;
}

ul {
  list-style-type: none;
  margin-top: 20;
}

ul li {
  border-style: solid;
  border-radius: 10px;
  padding: 7px;
  margin-top: 10px;
}
